@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com');

:root{
    --primary-color: rgb(252, 176, 0);
    --secondary-color: rgb(4, 17, 4);
    --font-main:"Poppins", sans-serif;
    --bg-main:  #f4f7f6;

    /* radius */
    --button-raduis: 12px;              /* How rounded the corners are */
    --button-shadow: 0 4px 6px rgba(0,0,0,0.1);

    --section-background-color: #ffffff; /* White */
    --section-border-radius: 8px;
    --section-padding: 20px;
    --section-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    --section-margin: 20px;   

    /* side bar*/
    --side-bar-width: 200px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body{
    background-color: var(--bg-main);
    color: var(--secondary-color);
    line-height: 1.6;
    font-family: var(--font-main);
}

/*
.main-wrapper{
  margin-left: 200px; /* This creates the 'lane' for your sidebar 
  padding: 20px;
  width: calc(100% - 200px);
}

.card-nav {
    display: flex;
    flex-direction: column; /* This stacks them vertically 
    align-items: center; /* Keeps text aligned to the left 
    gap: 10px;               /* Adds a little space between the two lines 
    
    /* Keep your existing styles below 
    background-color: var(--section-background-color);
    padding: var(--section-padding);
    border-radius: var(--section-border-radius);
    box-shadow: var(--section-box-shadow);
    margin: var(--section-margin);
       
}

.card-better{

  flex-wrap: wrap;
  align-items: space-between;
  flex-direction: row;
  gap: 200px;
  
}
.card-content {
    
    background-color: var(--section-background-color);
    padding: var(--section-padding);
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--section-border-radius);
    box-shadow: var(--section-box-shadow);
    
}


table {
  border-collapse: collapse; /* Merges adjacent borders 
  width: 100%;               /* Makes table responsive to container 
  margin: 5px 0;
  font-family: var(--font-main);
  min-width: 40px;
  overflow-x: auto;
  min-width: 600px;
}

th, td {
  padding: 12px 15px;      /* Standard spacing 
  text-align: left;        /* Align text to start 
  border-bottom: 1px solid #dddddd;
}

thead tr {
  background-color: var(--primary-color); /* Modern green header 
  color: #ffffff;
  text-align: left;
}
  */
.top-nav{
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  box-shadow: var(--section-box-shadow); 
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  width: 100%;
}

.top-nav a{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--secondary-color);
}
.top-nav a:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.logo-img {
  width: 70px;       
  height: 70px;      
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
  object-fit: cover;    
  object-position: center; 
}


.side-nav-bar{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-right: 1px solid #ddd;
  width: 150px;
  height: 100vh;
  box-shadow: var(--section-box-shadow);  
}

.side-nav-bar a{
  display: block;
  color: var(--secondary-color);
  padding: 8px 16px;
  text-decoration: none;
  
}

.side-nav-bar a:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.active{
  background-color: #ddd;
  color: #ddd;
}

.card-block{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  background-color: var(--section-background-color);
  padding: 1rem 5%;
  border-radius: var(--section-border-radius);
  box-shadow: var(--section-box-shadow);
  margin: var(--section-margin);
  width: 95%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  left: 45%;
 
}

.switch input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;

}
input:focus + .slider {
  box-shadow: 0 0 8px #2196F3; /* A blue glow when you Tab onto it */
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  transition: .4s;
  border-radius: 24px;
}


.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: var(--primary-color)
}

input:checked + .slider:before {
  transform: translateX(26px);
}
