
:root{
    --primary-color: rgb(252, 176, 0);
    --secondary-color: rgb(4, 17, 4);
    --font-main:"Poppins", sans-serif;
    --bg-main:  #f4f7f6;
    --button-radius: 8px;              
    --button-shadow: 0 4px 6px rgba(0,0,0,0.1);
    --section-background-color: #ffffff; 
    --section-border-radius: 8px;
    --section-padding: 20px;
    --section-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    --section-margin: 20px;   
    --side-bar-width: 200px;
}

body{
    background-color: var(--bg-main);
    color: var(--secondary-color);
    line-height: 1.6;
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.header{
  background:var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.logo,
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
button{
  padding: 4px 8px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: var(--button-radius);
}
